.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, #ffd503, #020617);
  display: flex;
  align-items: center;
  padding: 0 24px;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Left */
.header-left {
  flex: 1;
  display: flex;
  /* align-items: flex-start; */
}

.logo {
  height: 100px;
  cursor: pointer;
  
  /* transition: transform 0.25s ease; */
}

/* .logo:hover {
  transform: scale(1.08);
} */

/* Center */
.header-center {
  flex: 2;
  text-align: center;
}

.header-center h1 {
  font-size: 35px;
  font-weight: 900;
  color: #f8fafc;
  letter-spacing: 0.6px;
}

/* Right */
.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.company-name {
  color: #facc15;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e293b;
  border-radius: 50%;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.25s ease;
  margin-right: 35px;
}

.social-icons a:hover {
  background: #facc15;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 6px 14px rgba(250, 204, 21, 0.4);
}

/* Offset page content because header is fixed */
body {
  padding-top: 80px;
}
